In [1]:
import pandas as pd
import numpy as np

In [2]:
shark_orig = pd.read_csv('../data/attacks.csv', encoding='iso-8859-1')

shark_orig.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

(8703, 24)

In [7]:
shark_cnulos = shark_orig.dropna(how='all')

shark_cnulos.shape

(8703, 24)

In [8]:
nul_col = shark_orig.isna().sum()
nul_col[nul_col>0]

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

In [10]:
shark_cnulos[['Unnamed: 22', 'Unnamed: 23']] = shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].fillna('unknown')

In [11]:
shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].head()

  Unnamed: 22 Unnamed: 23
0     unknown     unknown
1     unknown     unknown
2     unknown     unknown
3     unknown     unknown
4     unknown     unknown

In [2]:
def modificar_nombre(nombre):
    if nombre.upper() in 'USA':
        return nombre
    elif 'UAE' in  nombre.upper():
        return 'UAE'
    elif nombre.endswith('?'):
        return nombre.title()[:-1]
    elif nombre is 'N/A':
        return 'N/A'
    elif '&' in nombre:
        nombre.replace('&', '/')
    else:
        return nombre.title()

<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Nerea\AppData\Local\Temp\ipykernel_1420\2331493915.py:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif nombre is 'N/A':

In [5]:
modificar_nombre('MarIA & PAco')