# Sharknicería

## Limpieza profunda de una base de datos

### Importación de librerías usadas y archivo de funciones

En este caso ya tenemos las librerías instaladas. En caso contrario se haría:

`pip install`

Llamamos a las librerias que usaremos y quito el aviso de warnings

In [1]:
import pandas as pd
import numpy as np
from funciones import *

import warnings
warnings.filterwarnings('ignore')

d:\IRONHACK\Proyectos\Proyectos\Proyecto-1_Sharkniceria\src\funciones.py:17: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif nombre is 'N/A':

### Importación de la base de datos

Abrimos el archivo .csv como DataFrame

Nos da un error en la codificación! Lo solucionamos cambiando la codificación al formato adecuado.

Echamos un vistazo general al df para ver qué tenemos tanto los los de arriba como los últimos, comprobamos el tamaño e información de las columnas.

In [2]:
shark_orig = pd.read_csv('../data/attacks.csv', encoding='iso-8859-1')

shark_orig.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
shark_orig.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
shark_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
shark_orig.shape

(25723, 24)

### Limpieza de nombres de columnas

Vamos a revisar los nombres de las columnas y corregir las separaciones.

In [6]:
shark_orig.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
shark_orig.columns = shark_orig.columns.str.strip()

### Limpieza de filas con valores nulos

Compruebamos cuántos nulos hay por columna

In [8]:
nulitos(shark_orig)

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Hay bastantes, así que vamos a ir gestionándolos para nuestro estudio.

Como vimos en el tail(), parece que hay filas con todo valores nulos y quizás algunas con más del 80% de valores nulos. Vamos a comprobarlo y eliminarlas.

In [9]:
filas_nul = shark_orig[shark_orig.isna().all(axis=1)]
filas_nul.shape[0]

17020

In [10]:
filas_casinul = shark_orig[shark_orig.isna().sum(axis=1) > 20].index
filas_casinul.shape[0]

19421

In [11]:
shark_cnulos = shark_orig.drop(filas_casinul)
shark_cnulos = shark_cnulos.dropna(how='all').reset_index()
shark_cnulos.shape

(6302, 25)

Revisemos también cuantas filas duplicadas hay, en caso de que haya borraríamos esas filas.

In [12]:
shark_cnulos.duplicated().sum()

0

### Limpieza por columnas

##### 1 - Case Number, Case Number 1 y Case Number 2

Como 'Case Number' tiene menos datos nulos que 'Case Number.1' y 'Case Number.2' y son la mismo info pero duplicada, las dos últimas no nos van a ser funcionales y las cubriré con los datos de la primera para poder crear un id único real de los datos.

In [13]:
nulitos(shark_cnulos)

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [14]:
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.2', 'Date', 'Year', 'Name']][shark_cnulos['Case Number'].isna()]

,Case Number,Case Number.1,Case Number.2,Date,Year,Name
5488,NaN,1905.09.06.R,1905.09.06.R,Reported 06-Sep-1905,1905.0,David Curry

In [15]:
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.2']] = shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.2']].astype(str)
shark_cnulos['Case Number'] = shark_cnulos['Case Number'].fillna('1905.09.06')
shark_cnulos['Case Number.1'] = shark_cnulos['Case Number.1'] = shark_cnulos['Case Number']
shark_cnulos['Case Number.2'] = shark_cnulos['Case Number.2'] = shark_cnulos['Case Number']
# shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.2']].tail()

Ahora usaremos la columna 'Case Number' como ID de cada fila.

In [16]:
shark_cnulos['Case Number'] = shark_cnulos['Case Number'] = 0
shark_cnulos['Case Number'] = shark_cnulos['Case Number'] = [x for x in range(1, 6303)]
shark_cnulos['Case Number'].head()

0    1
1    2
2    3
3    4
4    5
Name: Case Number, dtype: int64

##### 2 - Type

Para 'Type' hay varios valores únicos. Vamos a revisarlo y cuadrar en cuál encajarían mejor los nulos.

In [17]:
nulitos(shark_cnulos)

Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [18]:
shark_cnulos['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [19]:
shark_cnulos.loc[shark_cnulos['Type'].isnull(), 'Injury']

85      Injuries to hands and legs
382                 Injury to hand
4867                         FATAL
5705                         FATAL
Name: Injury, dtype: object

In [20]:
shark_cnulos.loc[shark_cnulos['Type'] == 'Invalid', 'Injury']

2            Injury to left lower leg from surfboard skeg
13      Injured by teeth of a dead porbeagle shark he ...
31      Injury to ankle from marine animal trapped in ...
43                       Collision / No injury, no attack
44                    Lacerations to 4 toes of right foot
                              ...
6147                             Lacerations to arm & leg
6157    Partial hominid remains recovered from shark, ...
6164                                                FATAL
6227    Said to be fatal and involve a 4.6 m to 6 m [1...
6232    A 4.3 m [14'] shark made threat display. No in...
Name: Injury, Length: 547, dtype: object

Al comparar estas columnas acordamos que el mejor valor para los nulos es 'Invalid'

In [21]:
shark_cnulos['Type'] = shark_cnulos['Type'].fillna('Invalid')

##### 3 - Fatal

Ahora vamos a revisar la columna de Fatal. Tiene varios valores repetidos por lo que los juntaremos para quedarnos con tres: Y, N o UNKNOWN. Por otro lado, la columna Injury tiene información sobre 'Fatal' por lo que la utilizaremos para llenar algunos nulos.

In [22]:
shark_cnulos['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [23]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'].isnull(), ['Fatal (Y/N)', 'Injury']]

     Fatal (Y/N)                                             Injury
27           NaN  Multiple severe injuries to arms and leg, leg ...
76           NaN                                              FATAL
79           NaN             Lacerations to right ankle, foot & toe
84           NaN      FATAL, but death was probably due to drowning
98           NaN                           Lacerations to left foot
...          ...                                                ...
6147         NaN                           Lacerations to arm & leg
6157         NaN  Partial hominid remains recovered from shark, ...
6158         NaN                                    Struck on thigh
6164         NaN                                              FATAL
6232         NaN  A 4.3 m [14'] shark made threat display. No in...

[539 rows x 2 columns]

In [24]:
shark_cnulos['Injury'] = shark_cnulos['Injury'].astype(str)

filas_inj = shark_cnulos[shark_cnulos['Injury'].str.contains("(?i)fatal|remains|bodies|body|death|dead|drowning|drowned|drowing|postmortem|recovered|disappeared")].index.tolist()
shark_cnulos.loc[shark_cnulos['Injury'].str.contains("(?i)fatal"), ['Injury', 'Fatal (Y/N)']].tail()

                                                 Injury Fatal (Y/N)
6297                                              FATAL           Y
6298                                              FATAL           Y
6299                                              FATAL           Y
6300                                              FATAL           Y
6301  FATAL. "Shark bit him in half, carrying away t...           Y

In [25]:
shark_cnulos.loc[filas_inj, 'Fatal (Y/N)']  = shark_cnulos.loc[filas_inj, 'Fatal (Y/N)'] = 'Y'
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == 'Y', ['Fatal (Y/N)', 'Injury']]

     Fatal (Y/N)                                             Injury
6              Y                                              FATAL
13             Y  Injured by teeth of a dead porbeagle shark he ...
58             Y                                              FATAL
59             Y                                              FATAL
64             Y                                              FATAL
...          ...                                                ...
6297           Y                                              FATAL
6298           Y                                              FATAL
6299           Y                                              FATAL
6300           Y                                              FATAL
6301           Y  FATAL. "Shark bit him in half, carrying away t...

[1698 rows x 2 columns]

In [26]:
filas_noinj = shark_cnulos[shark_cnulos['Injury'].str.contains("(?i)no injury|injured|minor injury|minor injuries|no attack|survived|abrasions|abrasion|lacerations|laceration|lacerated|wound|tooth marks")].index.tolist()
shark_cnulos.loc[filas_noinj, 'Fatal (Y/N)']  = shark_cnulos.loc[filas_noinj, 'Fatal (Y/N)'] = 'N'

shark_cnulos['Fatal (Y/N)'].fillna('UNKNOWN', inplace=True)
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == 'UNKNOWN', ['Fatal (Y/N)', 'Injury']].tail()

     Fatal (Y/N) Injury
6166     UNKNOWN    nan
6167     UNKNOWN    nan
6171     UNKNOWN    nan
6172     UNKNOWN    nan
6277     UNKNOWN    nan

In [27]:
shark_cnulos['Fatal (Y/N)'].unique()

array(['N', 'Y', 'UNKNOWN', ' N'], dtype=object)

In [28]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == ' N', ['Date', 'Country', 'Fatal (Y/N)', 'Injury']]

,Date,Country,Fatal (Y/N),Injury
3948,11-Nov-1960,AUSTRALIA,N,"Shark knocked him off surf-ski, he inhaled wat..."
3949,06-Nov-1960,AUSTRALIA,N,Scratches on right upper arm
3951,Nov-1960,NEW GUINEA,N,Left wrist bitten by netted shark placed in bo...
3956,Oct-1960,PAPUA NEW GUINEA,N,Injuries to leg & foot

In [29]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == ' N', 'Fatal (Y/N)'] = 'N'

In [30]:
shark_cnulos['Fatal (Y/N)'].unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

##### 4 - Sex

Para esta columna vamos a repetir el proceso anterior. En caso de que haya información en la columna de 'Injury' la usaremos para limpiar los datos.

In [31]:
shark_cnulos['Sex'].fillna('N/A', inplace=True)

filas_msex = shark_cnulos[shark_cnulos['Injury'].str.contains("(?i)man|men|boy|boys")].index.tolist()
filas_fsex = shark_cnulos[shark_cnulos['Injury'].str.contains("(?i)woman|girl|women|girls")].index.tolist()

shark_cnulos.loc[filas_msex, 'Sex'] = shark_cnulos.loc[filas_msex, 'Sex'] = 'M'
shark_cnulos.loc[filas_fsex, 'Sex'] = shark_cnulos.loc[filas_fsex, 'Sex'] = 'F'

In [32]:
shark_cnulos['Sex'].unique()

array(['F', 'M', 'N/A', 'M ', 'lli', 'N'], dtype=object)

Para el resto haremos cambios manuales

In [33]:
shark_cnulos.loc[shark_cnulos['Sex'] == 'lli', ['Name', 'Activity', 'Sex', 'Injury']]

            Name Activity  Sex                              Injury
1624  Brian Kang  Surfing  lli  Lacerations to hand, knee & thigh

In [34]:
shark_cnulos.loc[1624, 'Sex'] = shark_cnulos.loc[1624, 'Sex'] = 'M'

In [35]:
shark_cnulos.loc[shark_cnulos['Sex'] == 'N', ['Name', 'Activity', 'Sex', 'Injury']]

,Name,Activity,Sex,Injury
4938,"18' boat, occupants William & Leslie Newton",Fishing,N,No injury to occupants Sharks continually foll...
6131,Stephen Pettigew,Standing on landed shark's tail,N,"FATAL, PROVOKED INCIDENT"

In [36]:
shark_cnulos.loc[4938, 'Sex'] = 'N/A'
shark_cnulos.loc[6131, 'Sex'] = 'M'
shark_cnulos.loc[shark_cnulos['Sex'] == 'M ', 'Sex'] = 'M'

In [37]:
shark_cnulos['Sex'].unique()

array(['F', 'M', 'N/A'], dtype=object)

##### 5 - Country, Area y Location

Empezaremos revisando los nulos de cada una. Para 'Country' primero limpiaremos los valores únicos dándole un formato común y eliminando símbolos y a continuación cogeremos información de otras columnas para ir rellenando los nulos.

In [38]:
nulitos(shark_cnulos)

Year                         2
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Age                       2831
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [39]:
shark_cnulos['Country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [40]:
shark_cnulos['Country'] = shark_cnulos['Country'].fillna('N/A')
shark_cnulos['Country'] = shark_cnulos['Country'].astype(str)
shark_cnulos['Country'] = shark_cnulos['Country'].apply(modificar_nombre)
shark_cnulos['Country'].unique()

array(['USA', 'Australia', 'Mexico', 'Brazil', 'England', 'South Africa',
       'Thailand', 'Costa Rica', 'Maldives', 'Bahamas', 'New Caledonia',
       'Ecuador', 'Malaysia', 'Libya', 'N/A', 'Cuba', 'Mauritius',
       'New Zealand', 'Spain', 'Samoa', 'Solomon Islands', 'Japan',
       'Egypt', 'St Helena, British Overseas Territory', 'Comoros',
       'Reunion', 'French Polynesia', 'United Kingdom',
       'United Arab Emirates', 'Philippines', 'Indonesia', 'China',
       'Columbia', 'Cape Verde', 'Fiji', 'Dominican Republic',
       'Cayman Islands', 'Aruba', 'Mozambique', 'Puerto Rico', 'Italy',
       'Atlantic Ocean', 'Greece', 'St. Martin', 'France',
       'Papua New Guinea', 'TRINIDAD / TOBAGO', 'Kiribati', 'Israel',
       'Diego Garcia', 'Taiwan', 'Jamaica', 'Palestinian Territories',
       'Guam', 'Seychelles', 'Belize', 'Nigeria', 'Tonga', 'Scotland',
       'Canada', 'Croatia', 'Saudi Arabia', 'Chile', 'Antigua', 'Kenya',
       'Russia', 'TURKS / CAICOS', 'UAE', 'Azores', 'South Korea',
       'Malta', 'Vietnam', 'Madagascar', 'Panama', 'Somalia', 'Nevis',
       'British Virgin Islands', 'Norway', 'Senegal', 'Yemen',
       'Gulf Of Aden', 'Sierra Leone', 'St. Maartin', 'Grand Cayman',
       'Liberia', 'Vanuatu', 'Mexico ', 'Honduras', 'Venezuela',
       'Sri Lanka', ' Tonga', 'Uruguay', 'India', 'Micronesia',
       'Caribbean Sea', 'Okinawa', 'Tanzania', 'Marshall Islands',
       'Egypt / Israel', 'Northern Arabian Sea', 'Hong Kong',
       'El Salvador', 'Angola', 'Bermuda', 'Montenegro', 'Iran',
       'Tunisia', 'Namibia', 'North Atlantic Ocean', 'Portugal',
       'South China Sea', 'Bangladesh', 'Palau', 'Western Samoa',
       'Pacific Ocean ', 'British Isles', 'Grenada', 'Iraq', 'Turkey',
       'Singapore', 'New Britain', 'Sudan', 'Johnston Island',
       'South Pacific Ocean', 'New Guinea', 'Red Sea',
       'North Pacific Ocean', 'Federated States Of Micronesia',
       'Mid Atlantic Ocean', 'Admiralty Islands', 'British West Indies',
       'South Atlantic Ocean', 'Persian Gulf', 'Red Sea / Indian Ocean',
       'Pacific Ocean', 'North Sea', 'Nicaragua ', 'Maldive Islands',
       'American Samoa', 'Andaman / Nicobar Islandas', 'Gabon', 'Mayotte',
       'North Atlantic Ocean ', 'The Balkans', 'Argentina', 'Martinique',
       'Indian Ocean', 'Guatemala', 'Netherlands Antilles',
       'Northern Mariana Islands', 'Iran / Iraq', 'Java', ' Philippines',
       'Nicaragua', 'Central Pacific', 'Solomon Islands / Vanuatu',
       'Southwest Pacific Ocean', 'Bay Of Bengal', 'Mid-Pacifc Ocean',
       'Slovenia', 'Curacao', 'Iceland', 'Italy / Croatia', 'Barbados',
       'Monaco', 'Guyana', 'Haiti', 'San Domingo', 'Ireland', 'Kuwait',
       'Yemen ', 'Reunion Island', 'Falkland Islands', 'Crete', 'Cyprus',
       'Egypt ', 'West Indies', 'Burma', 'Lebanon', 'Paraguay',
       'British New Guinea', 'Ceylon', 'Ocean', 'Georgia', 'Syria',
       'Tuvalu', 'Guinea', 'Andaman Islands',
       'Equatorial Guinea / Cameroon', 'Cook Islands', 'Tobago', 'Peru',
       'Africa', 'Algeria', 'Coast Of Africa', 'Tasman Sea', 'Ghana',
       'Greenland', 'Mediterranean Sea', 'Sweden', 'Roatan',
       'Between PORTUGAL / INDIA', 'Djibouti', 'Bahrein', 'Korea', 'Asia',
       'Ceylon (Sri Lanka)'], dtype=object)

In [41]:
# shark_cnulos.loc[shark_cnulos['Country']=='N/A', ['Country', 'Area', 'Location', 'Injury']]

In [42]:
shark_cnulos.loc[2956, 'Country'] = 'United Kingdom'
shark_cnulos.loc[3387, 'Country'] = 'Caribbean Sea'
shark_cnulos.loc[4498, 'Country'] = 'Caribbean Sea'
shark_cnulos.loc[3605, 'Country'] = 'Cuba'
shark_cnulos.loc[4018, 'Country'] = 'Australia'
shark_cnulos.loc[4231, 'Country'] = 'Andaman / Nicobar Islands'
shark_cnulos.loc[4266, 'Country'] = 'Comores / Madagascar'
shark_cnulos.loc[4639, 'Country'] = 'China'
shark_cnulos.loc[4700, 'Country'] = 'South America'
shark_cnulos.loc[4712, 'Country'] = 'Virgin Islands'
shark_cnulos.loc[5020, 'Country'] = 'France'
shark_cnulos.loc[5612, 'Country'] = 'Mediterranean Sea'
shark_cnulos.loc[5742, 'Country'] = 'Mexico'
shark_cnulos.loc[5808, 'Country'] = 'Palestine'
shark_cnulos.loc[5810, 'Country'] = 'USA'
shark_cnulos.loc[6137, 'Country'] = 'United Kingdom'
shark_cnulos.loc[6155, 'Country'] = 'Barbados'
shark_cnulos.loc[6175, 'Country'] = 'Ionian Sea'
shark_cnulos.loc[6177, 'Country'] = 'Ionian Sea'
shark_cnulos.loc[6206, 'Country'] = 'India'

In [43]:
shark_cnulos.loc[shark_cnulos['Country'] == 'Diego Garcia', ['Country', 'Name', 'Injury', 'Area', 'Location']]

          Country            Name Injury Area Location
655  Diego Garcia  Fernando Licay  FATAL  NaN      NaN

In [44]:
shark_cnulos.loc[4498, 'Country'] = 'United Kingdom'

In [45]:
nulitos(shark_cnulos)

Year                         2
Area                       455
Location                   540
Activity                   544
Name                       210
Age                       2831
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

Para 'Area' vamos a revisar qué información tenemos en otras columnas que nos pueda ser útil. Como hay casos que 'Area' no tiene datos epro 'Location' sí vamos a complementar las columnas con una función que las revise y complete.

In [46]:
shark_cnulos.loc[shark_cnulos['Area'].isna(), ['Country', 'Area', 'Location', 'Injury']]

,Country,Area,Location,Injury
32,New Caledonia,NaN,"Magenta Beach, Noumea","No injury, shark bit board"
33,Bahamas,NaN,Bimini,"2 puncture wounds to left foot, abrasion to ri..."
48,New Caledonia,NaN,Nouville,Injuries to abdomen and arm
56,Bahamas,NaN,NaN,Minor injury to arm
59,Libya,NaN,Gars Garabulli,FATAL
...,...,...,...,...
6291,Asia,NaN,NaN,Foot severed
6293,Australia,NaN,NaN,"FATAL, knocked overboard by tail of shark & ca..."
6294,Australia,NaN,NaN,FATAL
6295,Australia,NaN,NaN,FATAL
6300,Panama,NaN,"Panama Bay 8ºN, 79ºW",FATAL

In [48]:
shark_cnulos = shark_cnulos.apply(completar_valores, axis=1)
shark_cnulos[['Country', 'Area', 'Location', 'Injury']].head()

,Country,Area,Location,Injury
0,USA,California,"Oceanside, San Diego County","No injury to occupant, outrigger canoe and pad..."
1,USA,Georgia,"St. Simon Island, Glynn County",Minor injury to left thigh
2,USA,Hawaii,"Habush, Oahu",Injury to left lower leg from surfboard skeg
3,Australia,New South Wales,Arrawarra Headland,Minor injury to lower leg
4,Mexico,Colima,La Ticla,Lacerations to leg & hand shark PROVOKED INCIDENT

##### 6 - Activity

In [49]:
nulitos(shark_cnulos)

Year                         2
Activity                   544
Name                       210
Age                       2831
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [53]:
shark_cnulos = shark_cnulos[shark_cnulos['Activity'].notna()]
shark_cnulos['Activity'].value_counts().head()

Activity
Surfing         971
Swimming        869
Fishing         431
Spearfishing    333
Bathing         162
Name: count, dtype: int64

In [ ]:
shark_cnulos["Activity"] = shark_cnulos["Activity"].str.replace("-"," ").str.lower().str.strip()
for key, value in dict_activity_regex.items():
    sharks_clean["Activity"] = sharks_clean["Activity"].str.replace(value, key, regex = True)