###Proyecto de limpieza Sharks

Ya tengo las librerías instaladas pero en caso contrario se haría:

- pip install

Llamo a las librerias que usaremos y quito el aviso de warnings

In [19]:
import pandas as pd
import numpy as np
from funciones import *

import warnings
warnings.filterwarnings('ignore')

Abrimos el archivo .csv como DataFrame

Me da un error en la codificación! Lo soluciono cambiando la codificación al formato adecuado.

Echamos un vistazo general al df para ver qué tenemos tanto los 1os de arriba como los ults.

In [3]:
shark_orig = pd.read_csv('../data/attacks.csv', encoding='iso-8859-1')

shark_orig.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
shark_orig.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
shark_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
shark_orig.shape

(25723, 24)

Compruebo cuantos nulos hay por columna

_La función la tengo en carpeta funciones.py y la uso aquí_

In [13]:
nulitos(shark_orig)

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Hay bastantes, así que vamos a ir gestionándolos de menos relevantes para neustro estudio a más importantes.

Como vimos en el tail(), parece que hay filas con todo valores nulos. Vamos a comprobarlo y eliminarlas.

In [14]:
filas_nul = shark_orig[shark_orig.isna().all(axis=1)]
filas_nul.shape[0]

17020

In [16]:
shark_cnulos = shark_orig.dropna(how='all')

shark_cnulos.shape

(8703, 24)

In [17]:
nulitos(shark_cnulos)

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

Las columnas 'Unnamed: 22' y 'Unnamed: 23' tienen casi todo valores nulos de object por lo que las renombramos como 'unknown'.

In [21]:
shark_cnulos[['Unnamed: 22', 'Unnamed: 23']] = shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].fillna('unknown')

shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].head()

  Unnamed: 22 Unnamed: 23
0     unknown     unknown
1     unknown     unknown
2     unknown     unknown
3     unknown     unknown
4     unknown     unknown

Como 'Case Number' tiene menos datos nulos que 'Case Number.1' y 'Case Number.2' y son la mismo info pero duplicada, las dos últimas no me van a ser funcionales y las cubriré con 'unknown'

In [22]:
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.1']].head(15)

     Case Number Case Number.1 Case Number.1
0     2018.06.25    2018.06.25    2018.06.25
1     2018.06.18    2018.06.18    2018.06.18
2     2018.06.09    2018.06.09    2018.06.09
3     2018.06.08    2018.06.08    2018.06.08
4     2018.06.04    2018.06.04    2018.06.04
5   2018.06.03.b  2018.06.03.b  2018.06.03.b
6   2018.06.03.a  2018.06.03.a  2018.06.03.a
7     2018.05.27    2018.05.27    2018.05.27
8   2018.05.26.b  2018.05.26.b  2018.05.26.b
9   2018.05.26.a  2018.05.26.a  2018.05.26.a
10    2018.05.24    2018.05.24    2018.05.24
11    2018.05.21    2018.05.21    2018.05.21
12  2018.05.13.b  2018.05.13.b  2018.05.13.b
13  2018.05.13.a  2018.05.13.a  2018.05.13.a
14    2018.05.00    2018.05.00    2018.05.00

In [24]:
shark_cnulos[['Case Number.1', 'Case Number.2']] = shark_cnulos[['Case Number.1', 'Case Number.2']].fillna('unknown')
shark_cnulos[['Case Number.1', 'Case Number.2']].tail()

      Case Number.1 Case Number.2
8698        unknown       unknown
8699        unknown       unknown
8700        unknown       unknown
8701        unknown       unknown
25722       unknown       unknown