**Proyecto de limpieza Sharks

Ya tengo las librerías instaladas pero en caso contrario se haría:

- pip install

Llamo a las librerias que usaremos y quito el aviso de warnings

In [799]:
import pandas as pd
import numpy as np
from funciones import *

import warnings
warnings.filterwarnings('ignore')

Abrimos el archivo .csv como DataFrame

Me da un error en la codificación! Lo soluciono cambiando la codificación al formato adecuado.

Echamos un vistazo general al df para ver qué tenemos tanto los 1os de arriba como los ults.

In [800]:
shark_orig = pd.read_csv('../data/attacks.csv', encoding='iso-8859-1')

shark_orig.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [801]:
shark_orig.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [802]:
shark_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [803]:
shark_orig.shape

(25723, 24)

Compruebo cuantos nulos hay por columna

_La función la tengo en carpeta funciones.py y la uso aquí_

In [804]:
nulitos(shark_orig)

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Hay bastantes, así que vamos a ir gestionándolos para neustro estudio.

Como vimos en el tail(), parece que hay filas con todo valores nulos y quizás algunas con más del 80% de valores nulos. Vamos a comprobarlo y eliminarlas.

In [805]:
filas_nul = shark_orig[shark_orig.isna().all(axis=1)]
filas_nul.shape[0]

17020

In [806]:
filas_casinul = shark_orig[shark_orig.isna().sum(axis=1) > 20].index
filas_casinul.shape[0]

19421

In [807]:
shark_cnulos = shark_orig.drop(filas_casinul)
shark_cnulos = shark_cnulos.dropna(how='all')
shark_cnulos.shape

(6302, 24)

Revisemos también cuantas filas duplicadas hay, en caso de que haya borraríamos esas filas.

In [808]:
shark_cnulos.duplicated().sum()

0

In [809]:
nulitos(shark_cnulos)

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

Las columnas 'Unnamed: 22' y 'Unnamed: 23' tienen casi todo valores nulos de object por lo que las renombramos como string de momento porque nos pueden ser útiles después.

In [810]:
shark_cnulos[['Unnamed: 22', 'Unnamed: 23']] = shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].fillna('')

shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].head()

  Unnamed: 22 Unnamed: 23
0
1
2
3
4

Como 'Case Number' tiene menos datos nulos que 'Case Number.1' y 'Case Number.2' y son la mismo info pero duplicada, las dos últimas no me van a ser funcionales y las cubriré con los datos de la primera para poder crear un id único real de los datos.

In [811]:
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.1']].tail()

     Case Number Case Number.1 Case Number.1
6297     ND.0005       ND.0005       ND.0005
6298     ND.0004       ND.0004       ND.0004
6299     ND.0003       ND.0003       ND.0003
6300     ND.0002       ND.0002       ND.0002
6301     ND.0001       ND.0001       ND.0001

In [812]:
shark_cnulos['Case Number.1'] = shark_cnulos['Case Number']
shark_cnulos['Case Number.2'] = shark_cnulos['Case Number']
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.2']].tail()

     Case Number Case Number.1 Case Number.2
6297     ND.0005       ND.0005       ND.0005
6298     ND.0004       ND.0004       ND.0004
6299     ND.0003       ND.0003       ND.0003
6300     ND.0002       ND.0002       ND.0002
6301     ND.0001       ND.0001       ND.0001

In [839]:
shark_cnulos['Case Number'] = shark_cnulos['Case Number'] = 0
shark_cnulos['Case Number'] = shark_cnulos['Case Number'].astype(int)

In [843]:
shark_cnulos['Case Number'] = shark_cnulos['Case Number'] = [x for x in range(6302)]
shark_cnulos['Case Number'].head()

0    0
1    1
2    2
3    3
4    4
Name: Case Number, dtype: int64

In [815]:
nulitos(shark_cnulos)

Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Case Number.1                1
Case Number.2                1
dtype: int64

En 'Year' solo hay dos valores nulos, vamos a comprobar cuales son y si los podemos llenar con alguna info de otras columnas que tienen fecha.

In [816]:
shark_cnulos.loc[shark_cnulos['Year'].isnull(), ['Year', 'Case Number.1', 'Date']]

      Year Case Number.1                  Date
187    NaN  2017.01.08.R  Reported 08-Jan-2017
6079   NaN  1836.08.19.R  Reported 19-Aug-1836

In [817]:
shark_cnulos.loc[187, 'Year'] = 2017
shark_cnulos.loc[6079, 'Year'] = 1836

Para 'Type' hay varios valores únicos. Vamos a revisarlo y cuadrar en cuál encajarían mejor los nulos.

In [818]:
shark_cnulos['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [822]:
shark_cnulos.loc[shark_cnulos['Type'].isnull(), 'Injury']

85      Injuries to hands and legs
382                 Injury to hand
4867                         FATAL
5705                         FATAL
Name: Injury, dtype: object

In [830]:
shark_cnulos.loc[shark_cnulos['Type'] == 'Invalid', 'Injury']

2            Injury to left lower leg from surfboard skeg
13      Injured by teeth of a dead porbeagle shark he ...
31      Injury to ankle from marine animal trapped in ...
43                       Collision / No injury, no attack
44                    Lacerations to 4 toes of right foot
                              ...
6147                             Lacerations to arm & leg
6157    Partial hominid remains recovered from shark, ...
6164                                                FATAL
6227    Said to be fatal and involve a 4.6 m to 6 m [1...
6232    A 4.3 m [14'] shark made threat display. No in...
Name: Injury, Length: 547, dtype: object

In [831]:
shark_cnulos['Type'] = shark_cnulos['Type'].fillna('Invalid')

Para 'href formula' tenemos otra columna 'href' que tiene los mismos datos, por lo que cogemos ese índice y se lo copiamos del completo para quitar el único nulo.

In [850]:
shark_cnulos.loc[shark_cnulos['href formula'].isnull(), 'href']

3244    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, dtype: object

In [852]:
shark_cnulos['href formula'] = shark_cnulos.loc[3244, 'href formula'] = shark_cnulos.loc[3244,'href']

Tanto 'pdf', 'href formula', 'href', 'Investigator or Source', 'Species', 'Fatal (Y/N)', 'Injury',  tienen info que no podemos recuperar en nuestro análsiis. Las rellenamos con 'unknown'

In [ ]:
#shark_cnulos[['pdf', 'href formula', 'href', 'Investigator or Source']] = shark_cnulos[['pdf', 'href formula', 'href', 'Investigator or Source']].fillna('unknown')