**Proyecto de limpieza Sharks

Ya tengo las librerías instaladas pero en caso contrario se haría:

- pip install

Llamo a las librerias que usaremos y quito el aviso de warnings

In [850]:
import pandas as pd
import numpy as np
from funciones import *

import warnings
warnings.filterwarnings('ignore')

Abrimos el archivo .csv como DataFrame

Me da un error en la codificación! Lo soluciono cambiando la codificación al formato adecuado.

Echamos un vistazo general al df para ver qué tenemos tanto los 1os de arriba como los ults.

In [851]:
shark_orig = pd.read_csv('../data/attacks.csv', encoding='iso-8859-1')

shark_orig.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [852]:
shark_orig.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [853]:
shark_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [854]:
shark_orig.shape

(25723, 24)

Vamos a revisar los nombres de las columnas y corregir posibles separaciones.

In [855]:
shark_orig.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [857]:
shark_orig.columns = shark_orig.columns.str.strip()

Compruebo cuantos nulos hay por columna

_La función la tengo en carpeta funciones.py y la uso aquí_

In [858]:
nulitos(shark_orig)

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Hay bastantes, así que vamos a ir gestionándolos para neustro estudio.

Como vimos en el tail(), parece que hay filas con todo valores nulos y quizás algunas con más del 80% de valores nulos. Vamos a comprobarlo y eliminarlas.

In [859]:
filas_nul = shark_orig[shark_orig.isna().all(axis=1)]
filas_nul.shape[0]

17020

In [860]:
filas_casinul = shark_orig[shark_orig.isna().sum(axis=1) > 20].index
filas_casinul.shape[0]

19421

In [861]:
shark_cnulos = shark_orig.drop(filas_casinul)
shark_cnulos = shark_cnulos.dropna(how='all')
shark_cnulos.shape

(6302, 24)

Revisemos también cuantas filas duplicadas hay, en caso de que haya borraríamos esas filas.

In [862]:
shark_cnulos.duplicated().sum()

0

In [863]:
nulitos(shark_cnulos)

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

Las columnas 'Unnamed: 22' y 'Unnamed: 23' tienen casi todo valores nulos de object por lo que las renombramos como string de momento porque nos pueden ser útiles después.

In [864]:
shark_cnulos[['Unnamed: 22', 'Unnamed: 23']] = shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].fillna('')

shark_cnulos[['Unnamed: 22', 'Unnamed: 23']].head()

  Unnamed: 22 Unnamed: 23
0
1
2
3
4

Como 'Case Number' tiene menos datos nulos que 'Case Number.1' y 'Case Number.2' y son la mismo info pero duplicada, las dos últimas no me van a ser funcionales y las cubriré con los datos de la primera para poder crear un id único real de los datos.

In [865]:
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.1']].tail()

     Case Number Case Number.1 Case Number.1
6297     ND.0005       ND.0005       ND.0005
6298     ND.0004       ND.0004       ND.0004
6299     ND.0003       ND.0003       ND.0003
6300     ND.0002       ND.0002       ND.0002
6301     ND.0001       ND.0001       ND.0001

In [866]:
shark_cnulos['Case Number.1'] = shark_cnulos['Case Number.1'] = shark_cnulos['Case Number']
shark_cnulos['Case Number.2'] = shark_cnulos['Case Number.2'] = shark_cnulos['Case Number']
shark_cnulos[['Case Number', 'Case Number.1', 'Case Number.2']].tail()

     Case Number Case Number.1 Case Number.2
6297     ND.0005       ND.0005       ND.0005
6298     ND.0004       ND.0004       ND.0004
6299     ND.0003       ND.0003       ND.0003
6300     ND.0002       ND.0002       ND.0002
6301     ND.0001       ND.0001       ND.0001

In [867]:
shark_cnulos['Case Number'] = shark_cnulos['Case Number'] = 0
shark_cnulos['Case Number'] = shark_cnulos['Case Number'].astype(int)

In [868]:
shark_cnulos['Case Number'] = shark_cnulos['Case Number'] = [x for x in range(1, 6303)]
shark_cnulos['Case Number'].head()

0    1
1    2
2    3
3    4
4    5
Name: Case Number, dtype: int64

In [869]:
nulitos(shark_cnulos)

Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Case Number.1                1
Case Number.2                1
dtype: int64

In [870]:
shark_cnulos.loc[shark_cnulos['Case Number.1'].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5488,5489,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,...,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,815.0,,

En 'Year' solo hay dos valores nulos, vamos a comprobar cuales son y si los podemos llenar con alguna info de otras columnas que tienen fecha.

In [871]:
shark_cnulos.loc[shark_cnulos['Year'].isnull(), ['Year', 'Case Number.1', 'Date']]

      Year Case Number.1                  Date
187    NaN  2017.01.08.R  Reported 08-Jan-2017
6079   NaN  1836.08.19.R  Reported 19-Aug-1836

In [872]:
shark_cnulos.loc['Year'] = shark_cnulos.loc[187, 'Year'] = 2017
shark_cnulos.loc['Year'] = shark_cnulos.loc[6079, 'Year'] = 1836

Para 'Type' hay varios valores únicos. Vamos a revisarlo y cuadrar en cuál encajarían mejor los nulos.

In [873]:
shark_cnulos['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg', 1836], dtype=object)

In [874]:
shark_cnulos.loc[shark_cnulos['Type'].isnull(), 'Injury']

85      Injuries to hands and legs
382                 Injury to hand
4867                         FATAL
5705                         FATAL
Name: Injury, dtype: object

In [875]:
shark_cnulos.loc[shark_cnulos['Type'] == 'Invalid', 'Injury']

2            Injury to left lower leg from surfboard skeg
13      Injured by teeth of a dead porbeagle shark he ...
31      Injury to ankle from marine animal trapped in ...
43                       Collision / No injury, no attack
44                    Lacerations to 4 toes of right foot
                              ...
6147                             Lacerations to arm & leg
6157    Partial hominid remains recovered from shark, ...
6164                                                FATAL
6227    Said to be fatal and involve a 4.6 m to 6 m [1...
6232    A 4.3 m [14'] shark made threat display. No in...
Name: Injury, Length: 547, dtype: object

In [876]:
shark_cnulos['Type'] = shark_cnulos['Type'].fillna('Invalid')

Para 'href formula' tenemos otra columna 'href' que tiene los mismos datos, por lo que cogemos ese índice y se lo copiamos del completo para quitar el único nulo.

In [877]:
shark_cnulos.loc[shark_cnulos['href formula'].isnull(), 'href']

3244    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, dtype: object

In [878]:
shark_cnulos['href formula'] = shark_cnulos.loc[3244, 'href formula'] = shark_cnulos.loc[3244,'href']

Tanto 'Name', 'Investigator or Source', 'Species', 'Injury' tienen info que no podemos recuperar en nuestro análsiis. Las rellenamos con 'unknown' ya que es la descripción más adecuada.

In [879]:
shark_cnulos['Species'] = shark_cnulos['Species'].astype(str)

In [901]:
shark_cnulos[['Name', 'Species', 'Investigator or Source', 'Injury', 'Activity', 'Age']] = shark_cnulos[['Name', 'Species', 'Investigator or Source', 'Injury', 'Activity', 'Age']].fillna('unknown')

In [902]:
nulitos(shark_cnulos)

Country            50
Area              455
Location          540
Sex               565
Time             3354
Case Number.1       1
Case Number.2       1
dtype: int64

Ahora vamos a revisar la columna de Fatal. Tiene varios valores repetidos por lo que los juntaremos para quedarnos con tres: Y, N o N/A. Por otro lado, la columna Injury tiene información sobre 'Fatal' por lo que la utilizaremos para llenar algunos nulos.

In [884]:
shark_cnulos['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y', 1836],
      dtype=object)

In [885]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'].isnull(), ['Fatal (Y/N)', 'Injury']]

     Fatal (Y/N)                                             Injury
27           NaN  Multiple severe injuries to arms and leg, leg ...
76           NaN                                              FATAL
79           NaN             Lacerations to right ankle, foot & toe
84           NaN      FATAL, but death was probably due to drowning
98           NaN                           Lacerations to left foot
...          ...                                                ...
6147         NaN                           Lacerations to arm & leg
6157         NaN  Partial hominid remains recovered from shark, ...
6158         NaN                                    Struck on thigh
6164         NaN                                              FATAL
6232         NaN  A 4.3 m [14'] shark made threat display. No in...

[539 rows x 2 columns]

In [886]:
shark_cnulos['Injury'] = shark_cnulos['Injury'].astype(str)

In [887]:
filas_inj = shark_cnulos[shark_cnulos['Injury'].str.contains("(?i)fatal|remains|bodies|body|death|dead|drowning|drowned|drowing|postmortem|recovered|disappeared")].index.tolist()

print(filas_inj)

[6, 13, 58, 59, 64, 76, 84, 91, 124, 144, 149, 155, 159, 174, 221, 250, 252, 267, 271, 288, 299, 325, 343, 385, 425, 429, 434, 437, 440, 447, 448, 464, 465, 470, 473, 500, 525, 569, 571, 582, 596, 597, 599, 613, 639, 651, 654, 655, 660, 673, 677, 685, 688, 696, 700, 715, 722, 728, 751, 762, 763, 765, 768, 799, 803, 825, 850, 855, 865, 866, 871, 874, 879, 886, 889, 890, 909, 910, 921, 923, 940, 945, 954, 960, 967, 969, 978, 986, 994, 996, 1038, 1045, 1051, 1063, 1065, 1090, 1091, 1092, 1093, 1096, 1098, 1105, 1122, 1138, 1142, 1150, 1158, 1162, 1166, 1167, 1170, 1182, 1187, 1192, 1193, 1212, 1240, 1255, 1257, 1258, 1263, 1268, 1272, 1278, 1287, 1321, 1322, 1326, 1360, 1381, 1384, 1394, 1401, 1407, 1408, 1417, 1426, 1434, 1442, 1443, 1444, 1456, 1460, 1471, 1493, 1495, 1499, 1504, 1512, 1549, 1554, 1555, 1560, 1563, 1567, 1574, 1575, 1582, 1604, 1619, 1620, 1623, 1640, 1645, 1657, 1665, 1675, 1679, 1680, 1682, 1693, 1696, 1697, 1708, 1713, 1717, 1731, 1737, 1747, 1750, 1765, 1798, 1799, 1806, 1807, 1816, 1843, 1848, 1850, 1865, 1866, 1875, 1879, 1880, 1882, 1887, 1900, 1907, 1910, 1941, 1947, 1951, 1969, 1972, 1973, 1975, 1983, 1987, 1993, 2004, 2005, 2007, 2008, 2014, 2017, 2019, 2025, 2027, 2044, 2045, 2053, 2054, 2055, 2057, 2064, 2068, 2076, 2077, 2115, 2123, 2126, 2130, 2142, 2150, 2155, 2181, 2182, 2192, 2195, 2203, 2207, 2208, 2210, 2216, 2223, 2230, 2231, 2234, 2242, 2245, 2264, 2265, 2269, 2275, 2291, 2303, 2305, 2310, 2315, 2317, 2318, 2325, 2326, 2342, 2343, 2344, 2358, 2371, 2383, 2384, 2385, 2387, 2389, 2393, 2396, 2399, 2403, 2411, 2412, 2422, 2426, 2427, 2428, 2439, 2440, 2443, 2452, 2454, 2461, 2463, 2465, 2470, 2473, 2484, 2485, 2488, 2490, 2491, 2493, 2494, 2495, 2498, 2514, 2520, 2526, 2531, 2535, 2539, 2543, 2547, 2548, 2552, 2553, 2559, 2562, 2572, 2574, 2576, 2581, 2582, 2594, 2595, 2598, 2625, 2631, 2639, 2645, 2653, 2654, 2658, 2660, 2666, 2674, 2676, 2690, 2694, 2696, 2699, 2703, 2704, 2705, 2716, 2733, 2736, 2739, 2742, 2753, 2758, 2760, 2762, 2767, 2781, 2783, 2784, 2788, 2791, 2794, 2808, 2819, 2820, 2843, 2848, 2857, 2861, 2867, 2868, 2870, 2873, 2884, 2886, 2887, 2890, 2895, 2897, 2899, 2903, 2906, 2914, 2917, 2927, 2928, 2935, 2953, 2957, 2966, 2967, 2978, 2983, 2985, 2987, 2992, 2994, 2999, 3011, 3016, 3018, 3025, 3026, 3027, 3033, 3045, 3049, 3052, 3053, 3056, 3067, 3069, 3071, 3078, 3084, 3090, 3091, 3093, 3095, 3097, 3099, 3105, 3107, 3109, 3112, 3118, 3130, 3132, 3140, 3153, 3154, 3156, 3158, 3171, 3172, 3173, 3179, 3186, 3196, 3197, 3213, 3214, 3230, 3232, 3237, 3240, 3244, 3246, 3257, 3260, 3263, 3264, 3267, 3279, 3281, 3282, 3284, 3286, 3287, 3289, 3293, 3295, 3296, 3302, 3304, 3306, 3314, 3318, 3321, 3330, 3331, 3335, 3337, 3342, 3349, 3356, 3357, 3364, 3365, 3366, 3367, 3368, 3374, 3375, 3387, 3391, 3392, 3393, 3394, 3397, 3404, 3414, 3437, 3452, 3458, 3467, 3472, 3477, 3488, 3489, 3490, 3495, 3501, 3502, 3505, 3509, 3510, 3512, 3514, 3517, 3522, 3532, 3533, 3535, 3546, 3547, 3548, 3559, 3560, 3561, 3569, 3570, 3577, 3579, 3585, 3595, 3601, 3607, 3608, 3613, 3616, 3622, 3623, 3624, 3629, 3637, 3641, 3647, 3653, 3655, 3661, 3662, 3674, 3676, 3678, 3679, 3683, 3685, 3686, 3687, 3689, 3693, 3694, 3699, 3700, 3703, 3704, 3710, 3718, 3719, 3723, 3725, 3737, 3738, 3739, 3740, 3742, 3746, 3747, 3748, 3751, 3753, 3757, 3758, 3763, 3765, 3766, 3775, 3777, 3780, 3785, 3788, 3789, 3792, 3793, 3800, 3802, 3811, 3815, 3816, 3817, 3823, 3831, 3835, 3836, 3839, 3843, 3853, 3860, 3862, 3868, 3870, 3872, 3874, 3876, 3881, 3891, 3892, 3908, 3921, 3923, 3934, 3939, 3941, 3943, 3947, 3952, 3955, 3962, 3967, 3968, 3977, 3986, 3987, 3993, 4004, 4005, 4013, 4016, 4020, 4026, 4030, 4032, 4036, 4037, 4042, 4046, 4052, 4055, 4058, 4062, 4064, 4068, 4070, 4072, 4075, 4078, 4081, 4085, 4088, 4090, 4091, 4092, 4095, 4104, 4108, 4109, 4114, 4118, 4120, 4125, 4129, 4130, 4131, 4132, 4134, 4140, 4145, 4148, 4149, 4150, 4153, 4163, 4164, 4166, 4170, 4171, 4175, 4176, 4177, 4180, 4184, 4185, 4187, 4189, 4190, 4194, 4200, 4210, 4211, 4213, 4215, 4219, 4221, 4222, 4223, 4224, 4229, 4231, 4232, 4234, 4236, 4240, 4241, 4245, 4247, 4251, 4252, 4254, 4258, 4260, 4263, 4266, 4267, 4270, 4272, 4278, 4283, 4285, 4286, 4290, 4292, 4293, 4299, 4304, 4308, 4309, 4311, 4312, 4316, 4317, 4318, 4321, 4324, 4326, 4327, 4332, 4334, 4337, 4338, 4341, 4342, 4344, 4346, 4351, 4353, 4356, 4363, 4369, 4370, 4373, 4374, 4384, 4385, 4392, 4396, 4398, 4399, 4400, 4402, 4407, 4418, 4420, 4421, 4422, 4423, 4426, 4430, 4431, 4432, 4433, 4435, 4437, 4439, 4442, 4452, 4453, 4454, 4457, 4466, 4470, 4473, 4476, 4479, 4480, 4482, 4483, 4488, 4489, 4493, 4494, 4498, 4501, 4503, 4508, 4511, 4512, 4515, 4518, 4521, 4523, 4526, 4528, 4529, 4530, 4534, 4536, 4539, 4540, 4541, 4542, 4545, 4549, 4550, 4552, 4553, 4560, 4561, 4565, 4567, 4569, 4570, 4586, 4591, 4592, 4595, 4600, 4610, 4615, 4617, 4620, 4623, 4624, 4628, 4633, 4634, 4636, 4639, 4642, 4643, 4644, 4648, 4651, 4654, 4655, 4658, 4659, 4660, 4661, 4662, 4666, 4667, 4669, 4674, 4675, 4676, 4678, 4679, 4680, 4681, 4683, 4684, 4690, 4694, 4697, 4698, 4700, 4705, 4707, 4709, 4710, 4716, 4718, 4722, 4726, 4730, 4737, 4739, 4750, 4752, 4753, 4755, 4756, 4758, 4759, 4762, 4766, 4768, 4770, 4772, 4774, 4777, 4780, 4783, 4788, 4789, 4796, 4797, 4798, 4799, 4804, 4806, 4807, 4809, 4814, 4815, 4817, 4819, 4826, 4831, 4832, 4833, 4834, 4835, 4841, 4844, 4845, 4847, 4849, 4851, 4852, 4853, 4854, 4858, 4862, 4864, 4865, 4867, 4874, 4878, 4879, 4888, 4889, 4890, 4892, 4895, 4896, 4897, 4899, 4900, 4901, 4902, 4903, 4905, 4918, 4919, 4923, 4926, 4927, 4929, 4931, 4934, 4935, 4936, 4940, 4942, 4944, 4945, 4948, 4952, 4967, 4968, 4973, 4978, 4985, 4989, 4990, 4992, 4993, 4996, 4999, 5002, 5005, 5006, 5007, 5009, 5010, 5013, 5020, 5021, 5024, 5025, 5028, 5031, 5033, 5035, 5042, 5045, 5046, 5049, 5051, 5055, 5056, 5057, 5060, 5061, 5062, 5066, 5069, 5075, 5076, 5078, 5081, 5083, 5084, 5086, 5087, 5088, 5097, 5098, 5100, 5107, 5109, 5111, 5114, 5115, 5116, 5120, 5127, 5136, 5137, 5139, 5141, 5144, 5145, 5146, 5150, 5153, 5156, 5158, 5160, 5169, 5170, 5174, 5176, 5179, 5183, 5189, 5190, 5192, 5194, 5195, 5196, 5197, 5201, 5202, 5205, 5208, 5209, 5210, 5212, 5215, 5216, 5217, 5218, 5220, 5223, 5224, 5226, 5228, 5229, 5230, 5231, 5232, 5233, 5235, 5237, 5239, 5241, 5244, 5245, 5248, 5250, 5251, 5258, 5259, 5260, 5261, 5264, 5266, 5269, 5273, 5274, 5277, 5278, 5279, 5283, 5286, 5287, 5288, 5290, 5294, 5297, 5298, 5299, 5305, 5306, 5307, 5310, 5311, 5313, 5315, 5316, 5322, 5323, 5327, 5328, 5329, 5332, 5333, 5338, 5339, 5341, 5342, 5343, 5349, 5350, 5354, 5355, 5357, 5358, 5359, 5363, 5364, 5366, 5367, 5369, 5375, 5376, 5378, 5379, 5380, 5381, 5383, 5384, 5386, 5388, 5390, 5392, 5395, 5396, 5397, 5401, 5402, 5403, 5407, 5408, 5411, 5413, 5415, 5418, 5419, 5420, 5422, 5423, 5424, 5425, 5426, 5428, 5429, 5430, 5432, 5433, 5434, 5435, 5436, 5437, 5438, 5439, 5440, 5441, 5442, 5449, 5450, 5451, 5453, 5454, 5457, 5458, 5460, 5461, 5463, 5466, 5468, 5470, 5471, 5474, 5475, 5476, 5477, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5487, 5489, 5492, 5493, 5494, 5495, 5497, 5499, 5504, 5505, 5506, 5508, 5509, 5510, 5511, 5512, 5513, 5516, 5517, 5520, 5521, 5523, 5524, 5525, 5526, 5527, 5528, 5530, 5532, 5537, 5539, 5540, 5544, 5545, 5546, 5549, 5551, 5552, 5553, 5556, 5558, 5559, 5565, 5568, 5569, 5570, 5571, 5575, 5577, 5578, 5579, 5580, 5584, 5585, 5588, 5590, 5591, 5592, 5593, 5594, 5596, 5599, 5601, 5603, 5604, 5607, 5610, 5611, 5612, 5613, 5617, 5618, 5619, 5620, 5622, 5624, 5625, 5627, 5629, 5630, 5631, 5633, 5635, 5637, 5639, 5640, 5642, 5644, 5645, 5649, 5657, 5659, 5660, 5661, 5662, 5664, 5665, 5666, 5667, 5668, 5671, 5672, 5673, 5675, 5680, 5682, 5685, 5689, 5690, 5692, 5693, 5694, 5695, 5697, 5703, 5704, 5705, 5706, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 5718, 5720, 5722, 5723, 5724, 5725, 5727, 5728, 5729, 5731, 5734, 5736, 5737, 5738, 5739, 5741, 5742, 5744, 5746, 5747, 5752, 5753, 5754, 5756, 5758, 5762, 5766, 5769, 5770, 5773, 5774, 5777, 5778, 5779, 5780, 5781, 5782, 5783, 5784, 5787, 5788, 5789, 5790, 5791, 5792, 5798, 5799, 5800, 5801, 5802, 5806, 5807, 5808, 5811, 5812, 5813, 5814, 5815, 5816, 5820, 5821, 5822, 5825, 5826, 5828, 5829, 5834, 5835, 5836, 5838, 5839, 5842, 5843, 5844, 5845, 5847, 5848, 5849, 5850, 5852, 5854, 5860, 5862, 5864, 5865, 5867, 5868, 5869, 5872, 5874, 5875, 5878, 5883, 5884, 5886, 5891, 5894, 5896, 5899, 5900, 5902, 5906, 5907, 5908, 5918, 5920, 5921, 5922, 5923, 5925, 5927, 5928, 5929, 5931, 5932, 5933, 5935, 5936, 5938, 5942, 5943, 5944, 5946, 5947, 5948, 5950, 5951, 5952, 5955, 5957, 5958, 5959, 5960, 5961, 5962, 5964, 5967, 5968, 5969, 5970, 5974, 5975, 5977, 5978, 5981, 5984, 5985, 5986, 5987, 5988, 5989, 5991, 5992, 5993, 5994, 5995, 5996, 5999, 6001, 6002, 6003, 6004, 6008, 6010, 6012, 6013, 6014, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035, 6037, 6041, 6044, 6046, 6048, 6049, 6051, 6052, 6054, 6055, 6056, 6057, 6058, 6059, 6060, 6063, 6064, 6065, 6066, 6068, 6069, 6071, 6072, 6073, 6077, 6078, 6079, 6080, 6082, 6084, 6087, 6088, 6089, 6090, 6091, 6092, 6094, 6095, 6097, 6100, 6102, 6103, 6104, 6105, 6106, 6108, 6109, 6111, 6112, 6113, 6114, 6116, 6117, 6119, 6120, 6121, 6122, 6123, 6125, 6126, 6130, 6131, 6132, 6133, 6134, 6135, 6137, 6138, 6139, 6142, 6143, 6144, 6145, 6146, 6148, 6150, 6151, 6154, 6155, 6156, 6157, 6159, 6161, 6163, 6164, 6168, 6170, 6173, 6175, 6177, 6178, 6182, 6183, 6184, 6186, 6188, 6190, 6192, 6193, 6194, 6202, 6203, 6205, 6209, 6211, 6213, 6215, 6220, 6223, 6227, 6229, 6231, 6233, 6234, 6237, 6240, 6248, 6251, 6252, 6253, 6254, 6258, 6259, 6262, 6263, 6264, 6265, 6266, 6269, 6270, 6273, 6276, 6278, 6281, 6282, 6285, 6286, 6287, 6289, 6290, 6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301]

In [888]:
shark_cnulos.loc[shark_cnulos['Injury'].str.contains("(?i)fatal"), ['Injury', 'Fatal (Y/N)']].tail(25)

                                                 Injury Fatal (Y/N)
6262                  FATAL, foot lacerated & crushed             Y
6263  FATAL, femoral artery severed, died 12 days la...           Y
6264  FATAL, fell into water when shark seized his r...           Y
6265      FATAL, left leg bitten with severe blood loss           Y
6266                              FATAL, died of sepsis           Y
6269                                              FATAL           Y
6273                                          Fatal x 2           Y
6276                                              FATAL           Y
6278                                              FATAL           Y
6281                                FATAL, leg severed            Y
6282                                              FATAL           Y
6285                                              FATAL           Y
6286                                              FATAL           Y
6287  FATAL, 18 people  were killed by sharks, 2 sur...           Y
6289  FATAL, body not recovered but shark was caught...           Y
6290                     FATAL, leg stripped of flesh             Y
6293  FATAL, knocked overboard by tail of shark & ca...           Y
6294                                              FATAL           Y
6295                                              FATAL           Y
6296                                              FATAL           Y
6297                                              FATAL           Y
6298                                              FATAL           Y
6299                                              FATAL           Y
6300                                              FATAL           Y
6301  FATAL. "Shark bit him in half, carrying away t...           Y

In [889]:
shark_cnulos.loc[filas_inj, 'Fatal (Y/N)']  = shark_cnulos.loc[filas_inj, 'Fatal (Y/N)'] = 'Y'

In [890]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == 'Y', ['Fatal (Y/N)', 'Injury']]

     Fatal (Y/N)                                             Injury
6              Y                                              FATAL
13             Y  Injured by teeth of a dead porbeagle shark he ...
58             Y                                              FATAL
59             Y                                              FATAL
64             Y                                              FATAL
...          ...                                                ...
6297           Y                                              FATAL
6298           Y                                              FATAL
6299           Y                                              FATAL
6300           Y                                              FATAL
6301           Y  FATAL. "Shark bit him in half, carrying away t...

[1698 rows x 2 columns]

In [891]:
filas_noinj = shark_cnulos[shark_cnulos['Injury'].str.contains("(?i)no injury|injured|minor injury|minor injuries|no attack|survived|abrasions|abrasion|lacerations|laceration|lacerated|wound|tooth marks")].index.tolist()

In [892]:
shark_cnulos.loc[filas_noinj, 'Fatal (Y/N)']  = shark_cnulos.loc[filas_noinj, 'Fatal (Y/N)'] = 'N'

In [893]:
shark_cnulos['Fatal (Y/N)'].fillna('N/A', inplace=True)

In [894]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == 'N/A', ['Fatal (Y/N)', 'Injury']].tail(60)

     Fatal (Y/N)                                             Injury
2083         N/A  Presumed taken by a shark,  but forensic evide...
2141         N/A  Cut foot, but injury caused by fishing line, n...
2201         N/A     Missing, thought to have been taken by a shark
2212         N/A    Ankle bitten, but shark involvement unconfirmed
2362         N/A  Finger broken when 1.8 m [6'] hooked grey reef...
2363         N/A              Torso bitten by 4 m [13'] white shark
2390         N/A  Dorsum of right hand bitten, a probable bluefi...
2401         N/A  Reportedly lost lower right leg as result of s...
2410         N/A                      Shark scavenged on his corpse
2542         N/A                                         No details
2651         N/A            Swept out to sea, feared taken by shark
2684         N/A             Doubtful incident, needs investigation
2695         N/A  Reported by media as shark attack but forensic...
2845         N/A                                 Found to be a hoax
2909         N/A  Coroner determined the man was killed by a boa...
3080         N/A                                        Knee bitten
3148         N/A                 Missing, believed taken by a shark
3162         N/A  Missing, believed taken by a shark, but not co...
3207         N/A                                            unknown
3229         N/A  The press reported this as an attack by a whit...
3329         N/A                 Sharks reportedly bit legs & fins
3441         N/A                                         No details
3457         N/A                                            unknown
3491         N/A                                            unknown
3523         N/A                             Incident not confirmed
3603         N/A        2 life preservers had been bitten by sharks
3633         N/A  All 16 onboard perished, recovery efforts hamp...
3648         N/A                                         No details
3901         N/A                                    Abdomen abraded
3925         N/A                     Considered a doubtful incident
3958         N/A  Apparently went missing while diving. Helicopt...
3973         N/A                                        1  survivor
4127         N/A                                       Boat damaged
4159         N/A           Injuries caused by coral, not the  shark
4160         N/A                      Injuries not caused by sharks
4313         N/A         Right leg allegedly bitten by a bull shark
4574         N/A                     Shark involvement  unconfirmed
4645         N/A  When picked up by the USS Boyd DD 44 on 6/23/1...
4714         N/A  Sharks were numerous & took corpses but made n...
4779         N/A                                         No details
4781         N/A                                         Leg bitten
4910         N/A  Captive tiger shark regurgitated his arm in th...
5089         N/A          Later found to be fiction, never happened
5104         N/A                                         No details
5166         N/A                           Human arm found in shark
5246         N/A  Buttons & shoes found in shark caught in fish ...
5324         N/A                    Shark involvement not confirmed
5356         N/A                                   Human casualties
5370         N/A                                            unknown
5500         N/A              Thought to have been taken by a shark
5501         N/A  Reported to have been killed by a shark but 2 ...
5514         N/A                                         Leg bitten
5547         N/A                                            unknown
5597         N/A                                            Unknown
5757         N/A  Left leg severed. Probably confusion with GSAF...
5776         N/A  Unclear if he sustained any injury from the 7'...
5805         N/A      Shark involvement suspected but not confirmed
5876         N/A                                    Forehead bitten
5965         N/A                                            unknown
6158         N/A                                    Struck on thigh

In [895]:
shark_cnulos['Fatal (Y/N)'].unique()

array(['N', 'Y', 'N/A', 'UNKNOWN', ' N', 1836], dtype=object)

In [896]:
shark_cnulos.loc[shark_cnulos['Fatal (Y/N)'] == 1836, ['Date', 'Country', 'Fatal (Y/N)', 'Injury']]

      Date Country Fatal (Y/N) Injury
Year  1836    1836        1836   1836

In [897]:
shark_cnulos = shark_cnulos.drop(index='Year')

In [898]:
nulitos(shark_cnulos)

Country            50
Area              455
Location          540
Activity          544
Sex               565
Age              2831
Time             3354
Case Number.1       1
Case Number.2       1
dtype: int64

Vamos con 'Sex'.

In [904]:
shark_cnulos['Sex'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [917]:
shark_cnulos.loc[shark_cnulos['Sex'].isnull(), ['Name', 'Activity', 'Sex', 'Injury']]

,Name,Activity,Sex,Injury
32,unknown,Windsurfing,NaN,"No injury, shark bit board"
59,31 migrants,2 boats capsized,NaN,FATAL
86,unknown,Fishing,NaN,"sharks rammed boats, no injury to occupants"
124,unknown,Fishing,NaN,"Skull found in shark, a probable drowning & sc..."
154,unknown,unknown,NaN,Minor bite to the foot
...,...,...,...,...
6212,"4.8-metre skiboat, Occupants: Rod Salm & 4 fri...",Fishing,NaN,"No injury to occupants, shark bumped boat"
6237,unknown,Swimming,NaN,Recovered
6259,C.,A group of survivors on a raft for 17-days,NaN,"FATAL, shark leapt into raft and bit the man w..."
6278,unknown,Swimming,NaN,FATAL
6287,20 Fijians,Wreck of large double sailing canoe,NaN,"FATAL, 18 people were killed by sharks, 2 sur..."

In [918]:
shark_cnulos['Fatal (Y/N)'].fillna('N/A', inplace=True)

In [906]:
shark_cnulos.loc[shark_cnulos['Sex'] == 'lli', ['Name', 'Activity', 'Sex', 'Injury']]

            Name Activity  Sex                              Injury
1624  Brian Kang  Surfing  lli  Lacerations to hand, knee & thigh

In [907]:
shark_cnulos.loc[1624, 'Sex'] = shark_cnulos.loc[1624, 'Sex'] = 'M'

In [908]:
shark_cnulos.loc[shark_cnulos['Sex'] == 'N', ['Name', 'Activity', 'Sex', 'Injury']]

,Name,Activity,Sex,Injury
4938,"18' boat, occupants William & Leslie Newton",Fishing,N,No injury to occupants Sharks continually foll...
6131,Stephen Pettigew,Standing on landed shark's tail,N,"FATAL, PROVOKED INCIDENT"

In [912]:
shark_cnulos.loc[4938, 'Sex'] = shark_cnulos.loc[4938, 'Sex'] = ['N/A']

In [913]:
shark_cnulos.loc[6131, 'Sex'] = shark_cnulos.loc[6131, 'Sex'] = ['M']

In [914]:
shark_cnulos.loc[shark_cnulos['Sex'] == '.', ['Name', 'Activity', 'Sex', 'Injury']]

         Name Activity Sex                                             Injury
5437  unknown        .   .  Remains of 3 humans recovered from shark, but ...

In [915]:
shark_cnulos.loc[5437, 'Sex'] = shark_cnulos.loc[5437, 'Sex'] = ['N/A']